In [28]:
import pandas as pd

In [29]:
df = pd.read_excel('amazon.xlsx')
df

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Customer Type,City,State,Country,Product Type,Product,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost
0,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,United States,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.6500,7,0.00,762.1845,933.57
1,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.3950,9,0.10,-288.7650,923.63
2,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,Australia,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.1710,9,0.10,919.9710,915.49
3,ES-2013-1579342,2013-01-28,2013-01-30,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,Germany,Technology,Phones,"Motorola Smart Phone, Cordless",2892.5100,5,0.10,-96.5400,910.16
4,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,Senegal,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.9600,8,0.00,311.5200,903.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
823,CA-2013-101546,2013-12-19,2013-12-25,Standard Class,GK-14620,Grace Kelly,Corporate,Morristown,New Jersey,United States,Office Supplies,Binders,GBC DocuBind TL300 Electric Binding System,1793.9800,2,0.00,843.1706,225.42
824,CA-2014-154410,2014-10-22,2014-10-25,First Class,MD-17860,Michael Dominguez,Corporate,Indianapolis,Indiana,United States,Office Supplies,Storage,SAFCO Boltless Steel Shelving,909.1200,8,0.00,9.0912,225.16
825,ID-2012-31118,2012-12-26,2012-12-28,Second Class,TH-21550,Tracy Hopkins,Home Office,Bangkok,Bangkok,Thailand,Furniture,Tables,"Barricks Computer Table, Fully Assembled",1854.9297,9,0.57,-1294.3503,225.02
826,IN-2013-65677,2013-10-11,2013-10-14,First Class,HD-14785,Harold Dahlen,Home Office,Shanghai,Shanghai,China,Technology,Machines,"Epson Inkjet, Wireless",924.6600,3,0.00,397.5300,225.00
827,ID-2012-39875,2012-04-25,2012-04-27,Second Class,TP-21130,Theone Pippenger,Consumer,Mianyang,Sichuan,China,Furniture,Tables,"Barricks Round Table, Fully Assembled",1760.4300,5,0.30,-326.9700,224.80

iloc - index location

# Starting 4 Rows and Starting 3 Columns

In [30]:
df.head(4)[['Order ID','Order Date','Ship Date']]

          Order ID Order Date  Ship Date
0   CA-2012-124891 2012-07-31 2012-07-31
1    IN-2013-77878 2013-02-05 2013-02-07
2    IN-2013-71249 2013-10-17 2013-10-18
3  ES-2013-1579342 2013-01-28 2013-01-30

iloc

In [31]:
df.iloc[ 0:4 , 0:3 ]

          Order ID Order Date  Ship Date
0   CA-2012-124891 2012-07-31 2012-07-31
1    IN-2013-77878 2013-02-05 2013-02-07
2    IN-2013-71249 2013-10-17 2013-10-18
3  ES-2013-1579342 2013-01-28 2013-01-30

In [32]:
df.iloc[100:201,-3:]

     Discount     Profit  Shipping Cost
100      0.00  1465.2000        533.990
101      0.10   861.3720        531.280
102      0.15   790.4160        531.090
103      0.00   178.9200        530.486
104      0.00   308.4000        527.870
..        ...        ...            ...
196      0.10   134.3040        428.830
197      0.00   792.2691        428.800
198      0.10  1644.0300        427.460
199      0.10   -11.9340        427.240
200      0.00     0.0000        427.100

[101 rows x 3 columns]

loc

# Customers who purchased > 2000

In [33]:
df.loc[ df['Sales']>2000  ]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Customer Type,City,State,Country,Product Type,Product,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost
0,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,United States,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57
1,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63
2,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,Australia,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49
3,ES-2013-1579342,2013-01-28,2013-01-30,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,Germany,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16
4,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,Senegal,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808,IN-2014-47806,2014-05-17,2014-05-22,Second Class,DO-13435,Denny Ordway,Consumer,Srinagar,Jammu and Kashmir,India,Furniture,Tables,"Bevis Round Table, Rectangular",3094.560,6,0.0,1423.4400,227.67
812,IN-2014-76016,2014-09-26,2014-09-28,Second Class,VG-21805,Vivek Grady,Corporate,Thiruvananthapuram,Kerala,India,Furniture,Bookcases,"Dania Classic Bookcase, Metal",2871.540,7,0.0,57.3300,227.14
813,IN-2012-45909,2012-10-05,2012-10-09,Standard Class,TB-21190,Thomas Brumley,Home Office,Allahabad,Uttar Pradesh,India,Technology,Phones,"Samsung Smart Phone, with Caller ID",2544.600,4,0.0,865.0800,226.81
819,ES-2013-1247278,2013-12-17,2013-12-17,Same Day,VP-21760,Victoria Pisteka,Corporate,Madrid,Madrid,Spain,Office Supplies,Appliances,"Hamilton Beach Stove, Red",2711.700,5,0.0,1220.2500,226.25
820,ES-2014-5218647,2014-04-14,2014-04-18,Standard Class,EG-13900,Emily Grady,Consumer,Woking,England,United Kingdom,Office Supplies,Appliances,"Breville Microwave, Red",2111.970,7,0.0,190.0500,225.84

In [34]:
df.loc[df['Customer Type']=='Consumer']

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Customer Type,City,State,Country,Product Type,Product,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost
0,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,United States,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57
2,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,Australia,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49
4,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,Senegal,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04
6,IN-2011-81826,2011-11-07,2011-11-09,First Class,TS-21340,Toby Swindell,Consumer,Porirua,Wellington,New Zealand,Furniture,Chairs,"Novimex Executive Leather Armchair, Adjustable",1822.080,4,0.0,564.8400,894.77
7,IN-2012-86369,2012-04-14,2012-04-18,Standard Class,MB-18085,Mick Brown,Consumer,Hamilton,Waikato,New Zealand,Furniture,Tables,"Chromcraft Conference Table, Fully Assembled",5244.840,6,0.0,996.4800,878.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
816,IV-2014-5230,2014-12-10,2014-12-13,Second Class,SV-10785,Stewart Visinsky,Consumer,Daloa,Haut-Sassandra,Cote d'Ivoire,Technology,Copiers,"Brother Ink, Laser",1767.600,12,0.0,0.0000,226.68
818,CA-2013-165330,2013-12-12,2013-12-12,Same Day,WB-21850,William Brown,Consumer,Anaheim,California,United States,Furniture,Tables,Hon Non-Folding Utility Tables,892.136,7,0.2,111.5170,226.26
820,ES-2014-5218647,2014-04-14,2014-04-18,Standard Class,EG-13900,Emily Grady,Consumer,Woking,England,United Kingdom,Office Supplies,Appliances,"Breville Microwave, Red",2111.970,7,0.0,190.0500,225.84
822,IN-2013-10811,2013-09-17,2013-09-20,First Class,LR-16915,Lena Radford,Consumer,Gorakhpur,Haryana,India,Technology,Phones,"Nokia Smart Phone, Cordless",1908.450,3,0.0,534.3300,225.58
827,ID-2012-39875,2012-04-25,2012-04-27,Second Class,TP-21130,Theone Pippenger,Consumer,Mianyang,Sichuan,China,Furniture,Tables,"Barricks Round Table, Fully Assembled",1760.430,5,0.3,-326.9700,224.80

# Consumer who purchased more than 2000

In [35]:
ndf = df.loc[df['Customer Type']=='Consumer']
ndf  =  ndf.loc[ndf['Sales']>2000]
ndf

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Customer Type,City,State,Country,Product Type,Product,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost
0,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,United States,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57
2,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,Australia,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49
4,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,Senegal,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04
7,IN-2012-86369,2012-04-14,2012-04-18,Standard Class,MB-18085,Mick Brown,Consumer,Hamilton,Waikato,New Zealand,Furniture,Tables,"Chromcraft Conference Table, Fully Assembled",5244.840,6,0.0,996.4800,878.38
9,CA-2012-116638,2012-01-28,2012-01-31,Second Class,JH-15985,Joseph Holt,Consumer,Concord,North Carolina,United States,Furniture,Tables,Chromcraft Bull-Nose Wood Oval Conference Tabl...,4297.644,13,0.4,-1862.3124,865.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,ES-2013-3061639,2013-06-27,2013-06-27,Same Day,ES-14020,Erica Smith,Consumer,Madrid,Madrid,Spain,Furniture,Bookcases,"Bush Classic Bookcase, Traditional",2476.080,6,0.0,1015.0200,234.79
789,SA-2012-730,2012-06-25,2012-07-01,Standard Class,MS-7830,Melanie Seite,Consumer,Riyadh,Ar Riyad,Saudi Arabia,Furniture,Tables,"Barricks Training Table, Adjustable Height",2563.920,8,0.0,820.3200,231.32
793,MX-2013-109883,2013-09-03,2013-09-09,Standard Class,DC-13285,Debra Catini,Consumer,Mixco,Guatemala,Guatemala,Technology,Phones,"Cisco Smart Phone, with Caller ID",2616.960,6,0.0,26.1600,230.47
808,IN-2014-47806,2014-05-17,2014-05-22,Second Class,DO-13435,Denny Ordway,Consumer,Srinagar,Jammu and Kashmir,India,Furniture,Tables,"Bevis Round Table, Rectangular",3094.560,6,0.0,1423.4400,227.67
820,ES-2014-5218647,2014-04-14,2014-04-18,Standard Class,EG-13900,Emily Grady,Consumer,Woking,England,United Kingdom,Office Supplies,Appliances,"Breville Microwave, Red",2111.970,7,0.0,190.0500,225.84

and    &

or     |

In [36]:
df.loc[ (df['Customer Type']=='Consumer') & (df['Sales']>2000)  ]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Customer Type,City,State,Country,Product Type,Product,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost
0,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,United States,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57
2,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,Australia,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49
4,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,Senegal,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04
7,IN-2012-86369,2012-04-14,2012-04-18,Standard Class,MB-18085,Mick Brown,Consumer,Hamilton,Waikato,New Zealand,Furniture,Tables,"Chromcraft Conference Table, Fully Assembled",5244.840,6,0.0,996.4800,878.38
9,CA-2012-116638,2012-01-28,2012-01-31,Second Class,JH-15985,Joseph Holt,Consumer,Concord,North Carolina,United States,Furniture,Tables,Chromcraft Bull-Nose Wood Oval Conference Tabl...,4297.644,13,0.4,-1862.3124,865.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,ES-2013-3061639,2013-06-27,2013-06-27,Same Day,ES-14020,Erica Smith,Consumer,Madrid,Madrid,Spain,Furniture,Bookcases,"Bush Classic Bookcase, Traditional",2476.080,6,0.0,1015.0200,234.79
789,SA-2012-730,2012-06-25,2012-07-01,Standard Class,MS-7830,Melanie Seite,Consumer,Riyadh,Ar Riyad,Saudi Arabia,Furniture,Tables,"Barricks Training Table, Adjustable Height",2563.920,8,0.0,820.3200,231.32
793,MX-2013-109883,2013-09-03,2013-09-09,Standard Class,DC-13285,Debra Catini,Consumer,Mixco,Guatemala,Guatemala,Technology,Phones,"Cisco Smart Phone, with Caller ID",2616.960,6,0.0,26.1600,230.47
808,IN-2014-47806,2014-05-17,2014-05-22,Second Class,DO-13435,Denny Ordway,Consumer,Srinagar,Jammu and Kashmir,India,Furniture,Tables,"Bevis Round Table, Rectangular",3094.560,6,0.0,1423.4400,227.67
820,ES-2014-5218647,2014-04-14,2014-04-18,Standard Class,EG-13900,Emily Grady,Consumer,Woking,England,United Kingdom,Office Supplies,Appliances,"Breville Microwave, Red",2111.970,7,0.0,190.0500,225.84

In [37]:
df.loc[ (df['Customer Type']=='Consumer')  |   (df['Customer Type']=='Corporate')  ]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Customer Type,City,State,Country,Product Type,Product,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost
0,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,United States,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.6500,7,0.00,762.1845,933.57
1,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.3950,9,0.10,-288.7650,923.63
2,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,Australia,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.1710,9,0.10,919.9710,915.49
4,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,Senegal,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.9600,8,0.00,311.5200,903.04
5,IN-2013-42360,2013-06-28,2013-07-01,Second Class,JM-15655,Jim Mitchum,Corporate,Sydney,New South Wales,Australia,Technology,Phones,"Samsung Smart Phone, with Caller ID",2862.6750,5,0.10,763.2750,897.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
821,ID-2014-61526,2014-12-20,2014-12-24,Standard Class,TC-21145,Theresa Coyne,Corporate,Baguio City,Cordillera,Philippines,Furniture,Chairs,"Office Star Swivel Stool, Set of Two",1189.2825,9,0.25,-396.4275,225.78
822,IN-2013-10811,2013-09-17,2013-09-20,First Class,LR-16915,Lena Radford,Consumer,Gorakhpur,Haryana,India,Technology,Phones,"Nokia Smart Phone, Cordless",1908.4500,3,0.00,534.3300,225.58
823,CA-2013-101546,2013-12-19,2013-12-25,Standard Class,GK-14620,Grace Kelly,Corporate,Morristown,New Jersey,United States,Office Supplies,Binders,GBC DocuBind TL300 Electric Binding System,1793.9800,2,0.00,843.1706,225.42
824,CA-2014-154410,2014-10-22,2014-10-25,First Class,MD-17860,Michael Dominguez,Corporate,Indianapolis,Indiana,United States,Office Supplies,Storage,SAFCO Boltless Steel Shelving,909.1200,8,0.00,9.0912,225.16
827,ID-2012-39875,2012-04-25,2012-04-27,Second Class,TP-21130,Theone Pippenger,Consumer,Mianyang,Sichuan,China,Furniture,Tables,"Barricks Round Table, Fully Assembled",1760.4300,5,0.30,-326.9700,224.80

In [38]:
df.loc[ df['State']!='New York' ]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Customer Type,City,State,Country,Product Type,Product,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost
1,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.3950,9,0.10,-288.7650,923.63
2,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,Australia,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.1710,9,0.10,919.9710,915.49
3,ES-2013-1579342,2013-01-28,2013-01-30,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,Germany,Technology,Phones,"Motorola Smart Phone, Cordless",2892.5100,5,0.10,-96.5400,910.16
4,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,Senegal,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.9600,8,0.00,311.5200,903.04
5,IN-2013-42360,2013-06-28,2013-07-01,Second Class,JM-15655,Jim Mitchum,Corporate,Sydney,New South Wales,Australia,Technology,Phones,"Samsung Smart Phone, with Caller ID",2862.6750,5,0.10,763.2750,897.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
823,CA-2013-101546,2013-12-19,2013-12-25,Standard Class,GK-14620,Grace Kelly,Corporate,Morristown,New Jersey,United States,Office Supplies,Binders,GBC DocuBind TL300 Electric Binding System,1793.9800,2,0.00,843.1706,225.42
824,CA-2014-154410,2014-10-22,2014-10-25,First Class,MD-17860,Michael Dominguez,Corporate,Indianapolis,Indiana,United States,Office Supplies,Storage,SAFCO Boltless Steel Shelving,909.1200,8,0.00,9.0912,225.16
825,ID-2012-31118,2012-12-26,2012-12-28,Second Class,TH-21550,Tracy Hopkins,Home Office,Bangkok,Bangkok,Thailand,Furniture,Tables,"Barricks Computer Table, Fully Assembled",1854.9297,9,0.57,-1294.3503,225.02
826,IN-2013-65677,2013-10-11,2013-10-14,First Class,HD-14785,Harold Dahlen,Home Office,Shanghai,Shanghai,China,Technology,Machines,"Epson Inkjet, Wireless",924.6600,3,0.00,397.5300,225.00
827,ID-2012-39875,2012-04-25,2012-04-27,Second Class,TP-21130,Theone Pippenger,Consumer,Mianyang,Sichuan,China,Furniture,Tables,"Barricks Round Table, Fully Assembled",1760.4300,5,0.30,-326.9700,224.80

In [39]:
# City and State of Consumers who have purchased more than 5000

In [54]:
df.loc[(df['Customer Type']=='Consumer') & (df['Sales']>5000)][['City','State']]

                 City               State
2            Brisbane          Queensland
7            Hamilton             Waikato
43       Huddersfield             England
45        Minneapolis           Minnesota
64               Wuxi             Jiangsu
76            Atlanta             Georgia
80              Lille  Nord-Pas-de-Calais
82            Jackson            Michigan
121     New York City            New York
122           Detroit            Michigan
127      Philadelphia        Pennsylvania
162            Jeddah              Makkah
168            London             England
192  Stockton-on-Tees             England
223          Shaoxing            Zhejiang
290            Newark            Delaware
313              Kota        Chhattisgarh
334            Sydney     New South Wales
344       San Antonio               Texas
609           Beijing             Beijing

In [48]:
a = 'abhishek'
a.upper()

'ABHISHEK'

In [52]:
'abhishek'.upper().replace('A','T')   #'ABHISHEK'

'TBHISHEK'